body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.navbar{
    margin-bottom: 50px;
   
}

h1{
    text-align: center;
    color: aquamarine;

}

ul{
    text-align: center;
    list-style-type: none;
}

.ulnav>li{
  display: inline;
  margin-right: 30px;
  padding: 15px;
}

.container{
    text-align: center;
}

h2{
    color: blueviolet;
}

h4{
    color: cornflowerblue;
}