body{
    text-align: center;
}


.container{
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
}


.bg-gray{
    background-color: rgb(221, 221, 221);
    height: 90px;
}

.mainp{
    padding: 5px;
    font-size: 16px;
}

.txt{
   display: block;
   width: 500px;
   margin: -15px auto 10px auto;
}

.btn{
    margin-bottom: 10px;
    
}

.bg-aqua{
    background-color:aqua;
    border: 1px solid white;
}

.box1{
    width: 396px;
    float: left;
    height: 80px;
}

.box2{
    width: 299px;
    float: left;
    height: 80px;
    font-size: small;
}
.box3{
    width: 499px;
    float: left;
    height: 80px;
}

.boxp{
    font-size: small;

}

.boxtext{
    display: block;
    margin: -10px auto 5px auto;
}

ul{
    list-style: none;
}

footer{
    padding: 100px;
    font-size: small;
}